body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh;
    margin: 0;
    padding: 30px 40px;
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myButton {
    margin-top: 150px;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #4769ffc4;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(105, 71, 255, 0.335);
    transition: transform 0.2s;
}

#myButton:hover {
    transform: scale(1.05);
}

#content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}

.item {
    background: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    
    width: 800px;       
    height: auto;     
    box-sizing: border-box; 

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 30px;                 
}


.item img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.item iframe {
    width: 85%;
    border-radius: 10px;
}

.item audio {
    width: 80%;
}